<p>companies</p>

<table>
    <thead>
        <tr>
            <td>Name</td>
            <td>Segment</td>
            <td>Standard Deviation</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let companie of companies">
            <td>{{ companie.name }}</td>
            <td>{{ companie.segment }}</td>
            <td align="right">{{ companie.standardDeviation }}</td>
        </tr>
    </tbody>
</table>